@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: url("https://backend.emmagini.com/uploads/empresas/c0d00600-da2f-11ee-a304-111c596b0bf7.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.bg {
	background-color: white !important;
}

.note-video-clip {
	width: 100% !important;
	height: 400px;
	margin-top: 20px;
}
